*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: OpenSans-Medium;
  margin: 0;
  min-height: 100vh;
}

:root {
  --white: #fff;
  --black: #000;
  --lime-100: #ecfccb;
  --lime-300: #bef264;
  --lime-500: #22c55e;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-150: #eef2f6;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-400-rgba: rgba(148, 163, 184, 0.6);
  --blue-500: #1aa7ff;
  --red-600: #f82020;
}

@font-face {
  font-family: BreeSerif;
  src: url('../fonts/BreeSerif-Regular.ttf');
}

@font-face {
  font-family: OpenSans-Medium;
  src: url('../fonts/OpenSans-Medium.ttf');
}

@font-face {
  font-family: OpenSans-Light;
  src: url('../fonts/OpenSans-Light.ttf');
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button,
input,
select {
  font-family: OpenSans-Medium;
}

.header {
  display: flex;
  align-items: center;
  z-index: 1;
  gap: 10px;
  padding: 10px 20px;
  background: var(--lime-500);
}

.title {
  font-family: BreeSerif;
  color: var(--white);
  font-size: 2.5rem;
}

.checklist-icon {
  width: 55px;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 300px;
  gap: 10px;
  padding: 20px;
  background: var(--slate-50);
}

.inbox-icon,
.today-icon {
  width: 24px;
}

.inbox,
.today-list {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  gap: 10px;
}

.inbox:hover,
.today-list:hover,
.projects-container:hover *,
.addproject-btn:hover {
  background: var(--slate-150);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
}

.addproject-btn {
  cursor: pointer;
  border: none;
  height: 20px;
}

.projects-container:hover {
  background: var(--slate-150);
}

.addproject-icon {
  width: 20px;
}

.todolist-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  flex: 1;
}

.todolist {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.project-name {
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.priorityhigh-text,
.prioritymedium-text,
.prioritylow-text {
  font-weight: 600;
  padding: 8px 0px;
  border-top: 1px solid var(--slate-100);
  border-bottom: 1px solid var(--slate-100);
}

.task-add {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.task-add-btn {
  display: flex;
}

.task-add-text {
  font-size: 0.95rem;
  color: var(--slate-500);
}

.task-add:hover * {
  color: var(--lime-500);
}

.task-add-icon {
  width: 20px;
}

.todo-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--slate-300);
}

.taskname-input,
.taskdescription-input {
  padding: 8px 0px;
  border: none;
}

.taskname-input:focus,
.taskdescription-input:focus {
  outline: none;
}

.taskdescription-input {
  padding: 0px 10px 10px 10px;
}

.taskname-input {
  font-size: 1rem;
  margin: 0px 10px;
  padding: 10px 0px 10px;
}

.duedate-input {
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid var(--slate-300);
}

.duedate-input:focus {
  outline: none;
}

.taskdetails-container {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.priority-select {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--slate-300);
}

.priority-select:focus {
  outline: none;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid var(--slate-150);
}

.cancel-btn {
  cursor: pointer;
  font-weight: 600;
  padding: 6px 12px;
  color: var(--slate-600);
  background: var(--slate-100);
  border-radius: 5px;
  border: none;
}

.cancel-btn:hover {
  color: var(--slate-700);
  background: var(--slate-200);
}

.addtask-btn {
  cursor: not-allowed;
  font-weight: 600;
  padding: 6px 10px;
  color: var(--slate-600);
  background: var(--lime-100);
  border-radius: 5px;
  border: none;
}

.task {
  position: relative;
  display: flex;
  border-bottom: 1px solid var(--slate-200);
  padding: 8px 0px;
}

.name-container {
  word-break: break-word;
}

.desc-container {
  word-break: break-word;
  font-size: 0.7rem;
  color: var(--slate-400);
}

.taskinfo-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}

.duedate-container {
  flex: 1;
  font-size: 0.9rem;
}

.checklist-btn {
  position: relative;
  cursor: pointer;
  display: flex;
  border: none;
  background: none;
}

.checklist-img {
  width: 20px;
  border-radius: 50%;
}

.edit-container {
  position: absolute;
  right: 26px;
  width: 26px;
}

.remove-container {
  position: absolute;
  right: 0;
  width: 26px;
}

.edit-img,
.remove-img {
  width: 20px;
}

.edit-btn,
.remove-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 26px;
  width: 26px;
  border-radius: 5px;
  border: none;
  background: var(--white);
}

.edit-btn {
  box-shadow: -2px 0px 5px 5px var(--white);
}

.edit-btn:hover,
.remove-btn:hover {
  background: var(--slate-100);
}

.active-project {
  background: var(--slate-150);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: var(--slate-400-rgba);
}

.modal-content {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  min-height: 300px;
  min-width: 250px;
  background: var(--white);
  animation: appear 200ms ease;
}

.header-modal {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 15px;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  padding: 15px;
  border-bottom: 1px solid var(--slate-150);
  border-top: 1px solid var(--slate-150);
}

.inputname-container,
.inputcolor-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputname-label,
.inputcolor-label {
  font-weight: 600;
}

.projectname-input,
.projectcolor-input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--slate-300);
  background: none;
  transition: 100ms;
}

.projectname-input:focus {
  border: 1px solid var(--slate-400);
  outline: none;
}

.projectbuttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px;
}

.project-cancel-btn,
.project-add-btn {
  cursor: pointer;
  font-weight: 600;
  border: none;
  padding: 6px;
  border-radius: 5px;
  width: 75px;
}

.project-cancel-btn {
  color: var(--slate-600);
  background: var(--slate-100);
}

.project-cancel-btn:hover {
  color: var(--slate-700);
  background: var(--slate-200);
}

.project-add-btn {
  cursor: not-allowed;
  color: var(--slate-600);
  background: var(--lime-100);
}

.project {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  gap: 10px;
}

.project:hover {
  background: var(--slate-150);
}

.project-remove-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 20px;
  border: none;
  background: none;
}

.project-color-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.color-div {
  padding: 4px;
  border-radius: 50%;
}

.project-remove-img {
  width: 20px;
}

.project-name-container {
  flex: 1;
}

.check-img {
  position: absolute;
  width: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: show 100ms linear;
}

.low {
  background: var(--slate-500);
}

.medium {
  background: var(--blue-500);
}

.high {
  background: var(--red-600);
}

.high-priority-container,
.medium-priority-container,
.low-priority-container {
  display: flex;
  flex-direction: column;
}

.due-date-project-wrapper {
  display: flex;
}

.project-name-task-container {
  font-size: 0.9rem;
  color: var(--slate-500);
}

.valid {
  color: var(--slate-700);
  background: var(--lime-300);
  cursor: pointer;
}

.invisible {
  display: none;
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes check {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1.2);
  }
}
